.carte {
  display: block;
  width: 90%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  border: 2px solid rgba(135, 107, 107, 0.238);
  color: whitesmoke;
  text-decoration: none;
  transition: 0.6s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 16px;
}

.carte .photo {
  width: 4%;
  object-fit: contain;
  transition: 0.4s ease;
}

.carte .photo:hover {
  transform: scale(103%);
}


.carte .contenu {
  display: flex;
  flex-direction: row; /* Dispose l'image et le corps sur la même ligne */
  align-items: flex-start; /* Aligne l'image et le texte en haut */
}


.carte .titre {
  text-transform: capitalize;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline transparent ;
  transition: 0.8s ease ;
  
}

.carte .corp {
  border-radius: 15px;
  padding-left: 2%;
  font-size: 16px;
  line-height: 1.5;
}

.carte:hover {

  opacity: 1;
  border-color: whitesmoke;
  transform: scale(101%);

}

.carte::before {
  transition: 0.4s ease;
  
}
.carte .titre:hover {
  
  color: rgb(99, 218, 216);
}

