.carte {
  width: 40vw;
  border-radius: 5px;
  background: linear-gradient(
    295deg,
    rgba(16, 33, 50, 0.7) 0%,
    rgba(45, 60, 100, 0.7) 40%,
    rgba(45, 60, 100, 0.7) 60%,
    rgba(16, 33, 50, 0.7) 100%
  );
border: 3px solid rgba(255, 255, 255, 0.4);
transition: 0.6s ease;
  cursor: pointer;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 16px;
}

.carte .photo {
  margin-right: 5%;
  height: 90px;
  width: 160px;
  margin-bottom: 2%;
  object-fit: contain;
}

.carte .contenu {
  display: flex;
  flex-direction: row; /* Dispose l'image et le corps sur la même ligne */
  align-items: flex-start; /* Aligne l'image et le texte en haut */
}


.carte .titre {
  text-transform: uppercase;
  padding: 2%;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 800;
  text-decoration: underline transparent ;
  transition: color 0.8s ease, text-decoration 0.5s ease;
  
}

.carte .corp {
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.carte:hover {
  opacity: 1;
  transform: scale(104%);
  background-color: rgba(0, 0, 0, 0.76);
}

.carte::before {
  transition: 0.4s ease;
}

.corp:hover {
  color: rgb(99, 218, 216);
}

.carte .titre:hover {
  
  color: rgb(99, 218, 216);
  text-decoration: underline ;
  
}

