
.navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-left: 5%;
    filter: opacity(98%);
    border-bottom: 5px solid rgba(221, 225, 230, 0.9);
    border-top: 5px solid rgba(221, 225, 230, 0.9);
  }
  
  .dropdown-item:hover {
    background-color: transparent;
    color: black;
    font-weight: bolder;
    transform: scale(105%);
  }
  
  .dropdown-item svg {
    max-height: 2rem;
    padding: 1%;
  }
  
  .drop:hover .dropdown-menu {
    display: block;
    width: 250px;
  }
  
  .drop .dropdown-menu {
    display: none;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
  }
  .dropdown-item {
    color: black;
  }

  
.nav-link {
    transition: 0.3s ease;
  }
  
  .nav-link.active {
    color: #ffffff; /* couleur du texte */
    transform: translateY(-4px);
    border-bottom: 2px solid #fcfeff; /* bordure pour mettre en évidence */
  }