#background {
  width: 100%;
  position: fixed;
  background-repeat: repeat;
  z-index: -1;
  filter: brightness(80%);
}

html {
}

.no-select {
  user-select: none;
}

a {
  transition: 0.4s ease-in-out;
}

a:hover {
  color: rgb(120, 199, 3);
}

.grosConteneur {
  background-color: rgb(223, 223, 223);
  border: 7px solid #343a34;
  margin: 5%;
  margin-top: 0;
  padding: 2%;
}

.borderCorp {
  background-color: whitesmoke;

  border: 3px solid #343a3459;
}

.page {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  opacity: 0;
  transition: 0.4s ease-in;
}

.espace_page {
  font-size: 2rem;
}

.espace_page strong {
  font-size: large;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.page:hover::before {
  opacity: 0.9;
}

.page .espace_page {
  transition: 0.2s ease-in;
  font-size: small;
  padding-left: 1%;
  color: rgb(0, 0, 0);
}

.page:hover .espace_page {
  padding-left: 2%;
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  transition: ease 0.5s;
  opacity: 1;
}
.page::-webkit-scrollbar {
  width: 15px;
  border: 1px solid transparent;
  background-color: transparent;
}

.page::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

.page::-webkit-scrollbar-corner {
  background: transparent;
  border: none;
}

/* Personnalise le bloc de défilement (thumb) */
.page::-webkit-scrollbar-thumb {
  background-color: #737576; /* Couleur du bloc de défilement */
  border: none; /* Assure qu'il n'y ait pas de contour */
  border-radius: 20px;
}

.spawn {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  text-shadow: -4px 4px rgb(0, 0, 0);
  padding: 2% 5% 2% 5%;
  color: whitesmoke;
  border: 5px solid rgba(0, 0, 0, 0.9);
  font-size: 52px;
  width: fit-content;
  background-color: rgba(52, 58, 64, 0.9);
}

.spawn .profilePicture {
  border: 5px solid white;
  border-radius: 50%;
}

.spawn .profilePicture img {
  border-radius: 50%;
  width: 300px;
  height: 60%;
}

.blockSpawn {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre {
  font-size: 2.5rem;
  font-weight: bolder;
}

.projetUniv {
  color: rgb(113, 80, 9);
  background-color: rgb(255, 230, 104);
  border-radius: 10px;
  width: fit-content;
  padding: 1%;
  font-weight: 900;
  font-size: 1rem;
}

.accordion-body {
  font-size: 1rem;
}

.projetPerso {
  color: green;
  background-color: greenyellow;
  border-radius: 10px;
  width: fit-content;
  padding: 1%;
  font-weight: 900;
  font-size: 1rem;
}

.projetPro {
  color: rgb(12, 115, 90);
  background-color: rgba(0, 237, 178, 0.37);
  border-radius: 10px;
  width: fit-content;
  padding: 1%;
  font-weight: bold;
  font-size: 1rem;
}

.projetSolo {
  color: purple;
  background-color: rgba(216, 112, 147, 0.5);
  border-radius: 10px;
  width: fit-content;
  padding: 1%;
  font-weight: 900;
  font-size: 1rem;
}

.projetEquipe {
  color: rgb(4, 65, 144);
  background-color: rgba(49, 255, 255, 0.4);
  border-radius: 10px;
  width: fit-content;
  padding: 1%;
  font-weight: 900;
  font-size: 1rem;
}

.espace_page .link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.4s ease;
}

.espace_page .link:hover {
  color: rgb(224, 12, 12);
  text-decoration: underline;
  transform: scale(104%);
}

.hidden-text {
  visibility: hidden;
  color: #343a34;
}

.hidden-text strong {
  color: black;
}

.show-on-hover {
  background-color: #87a0ac4b;
  width: 90%;
}
.show-on-hover:hover {
  background-color: transparent;
}

.show-on-hover:hover .hidden-text {
  visibility: visible;
}

h4 {
  color: rgb(0, 0, 0);
}

.accordion-item,
.accordion,
.accordion-body,
.accordion-header,
.accordion-button {
  background-color: transparent;
  width: 35vw;
  color: rgb(0, 0, 0);
}

.accordion-button:not(.collapsed) {
  background-color: white;
}

.accordion-collapse {
  border: 1px solid black;
  border-top: 1px solid white;
  border-radius: 0px 0px 10px 10px;
}

.accordion-button {
  border-radius: 10px;
}

.accordion-header {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-top: 1%;
}

.timeline {
  width: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-left: 15px;
}

.timeline-item .date {
  border-right: 3px solid rgb(108, 24, 24);
  white-space: nowrap;
  text-align: right;
  padding: 1em;
  font-weight: 900;
  color: rgb(108, 20, 20);
  width: 15em;
  flex-shrink: 0;
}

.timeline-item .content {
  margin-left: 1em;
  align-items: center;
  color: #343a34;
}

.timeline-item .content h3 {
  margin: 0;
  font-weight: 600;

  color: rgb(70, 73, 70);

  font-size: 1.1em;
}

.timeline-item .content p {
  font-weight: 300;
  color: #878887;

  margin: 5px 0 0;
}

body::-webkit-scrollbar {
  display: none;
}

.lienContact {
  color: inherit;
  transition: 0.3s;
}

.lienContact:hover {
  color: rgb(0, 34, 254);
}

.email {
  background-color: #c8c8c833;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 1rem;
  width: fit-content;
  margin: 0.5rem;
  padding: 0;
  transition: 0.4s;
}

.email strong {
  font-size: 100%;
  font-weight: 900;
}
.email:hover {
  transform: scale(105%);
}

.cv-download {
  transition: 0.4s;
}

.cv-download:hover {
  color: rgb(120, 199, 3);
  transform: scale(101%);
}
