#background {
  width: 100%;
  position: fixed;
  background-repeat: repeat;
  z-index: -1;
}

a{
  transition: 0.4s ease-in-out;
}

a:hover {
  color: rgb(120, 199, 3);
}

.grosConteneur {
  background-color: white;
  border: 7px solid #343a34 ;
  margin: 5%;
  margin-top: 0;
  padding: 2%;
}

.borderCorp {
  background-color: whitesmoke;

  border: 3px solid #343a3459 ;
}

.page {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  opacity: 0;
  transition: 0.4s ease-in;
}

.espace_page strong {
  font-size: large;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.page:hover::before {
  opacity: 0.9;
}

.page .espace_page {
  transition: 0.2s ease-in;
  font-size: small;
  padding-left: 1%;
  color: rgb(0, 0, 0);
}

.page:hover .espace_page {
  padding-left: 2%;
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  transition: ease 0.5s;
  opacity: 1;
}
.page::-webkit-scrollbar {
  width: 15px;
  border: 1px solid transparent;
  background-color: transparent;
}

.page::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

.page::-webkit-scrollbar-corner {
  background: transparent;
  border: none;
}

/* Personnalise le bloc de défilement (thumb) */
.page::-webkit-scrollbar-thumb {
  background-color: #737576; /* Couleur du bloc de défilement */
  border: none; /* Assure qu'il n'y ait pas de contour */
  border-radius: 20px;
}

.spawn {
  position: relative;
  font-weight: bolder;
  text-shadow: -4px 4px rgb(0, 0, 0);
  padding: 1%;
  color: whitesmoke;
  border: 5px solid rgba(0, 0, 0, 0.9);
  font-size: 52px;
  width: fit-content;
  background-color: #343a34;
}

.blockSpawn {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre {
  font-size: 2.5rem;
  font-weight: bolder;
}

.espace_page .link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.4s ease;
}

.espace_page .link:hover {
  color: rgb(224, 12, 12);
  text-decoration: underline;
  transform: scale(104%);
}

.hidden-text {
  visibility: hidden;
  color: #343a34;
}

.hidden-text strong {
  color: black;
}

.show-on-hover {
  background-color: #87a0ac4b;
  width: 90%;
}
.show-on-hover:hover {
  background-color: transparent;
}

.show-on-hover:hover .hidden-text {
  visibility: visible;
}

h4 {
  color: rgb(0, 0, 0);
}

.accordion-item,
.accordion,
.accordion-body,
.accordion-header,
.accordion-button {
  background-color: transparent;
  width: 35vw;
  color: rgb(0, 0, 0);
}

.accordion-button:not(.collapsed) {
  background-color: white;
}

.accordion-collapse {
  border: 1px solid black;
  border-top: 1px solid white;
  border-radius: 0px 0px 10px 10px;

}


.accordion-button {
  border-radius: 10px;

}

.accordion-header {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-top : 1% ;
}

.timeline {
  width: 100%;
  height: 60vh;
}

body::-webkit-scrollbar {
  display: none;
}

.lienVert {
  color: inherit;
  transition: 0.3s;
}

.lienVert:hover {
  color: rgb(120, 199, 3);
}

.email {
  background-color: #b1b1b1;
  border-radius: 15px;
  width: fit-content;
  margin: 0.5rem;
  padding: 0;
  transition: 0.4s;
}

.email strong {
  font-size: 100%;
  font-weight: 900;
}
.email:hover {
  transform: scale(105%);
}

.cv-download {
 transition: 0.4s;
}


.cv-download:hover {
  color: rgb(120, 199, 3) ;
  transform: scale(101%);
}
