iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: none;
  z-index: -1; /* Place l'iframe derrière le contenu principal */
}


hr {
  transform: translateY(-50%);
  height: 20px;
  background: rgb(15, 207, 34);
  background: linear-gradient(
    295deg,
    rgb(175, 116, 116) 0%,
    rgba(155, 133, 133) 50%,
   
    rgba(16, 33, 50) 100%
  );
  opacity: 1;
  border: none;
}


.page {
  position: relative;
  
  z-index: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
  opacity: 0;
  background:     #343A40  ;
  background: linear-gradient(
    295deg,
    rgba(207, 207, 207, 0.1) 0%,
    rgba(255, 220, 220, 0.1) 50%,
    rgba(166, 199, 207, 0.1) 100%
  );
  transition: 0.4s ease-in;
}

.espace_page strong {
  font-size: xx-large;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    295deg,
    rgba(155, 133, 133, 0.7) 0%,
    rgba(80, 70, 70, 0.7) 50%,
    rgba(16, 33, 50, 0.7) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.page:hover::before {
  opacity: 1;
}

.page .espace_page {
  transition: 0.2s ease-in;
  font-size: larger;
  padding-left: 1%;
  border-left: 2px solid whitesmoke;
  color: whitesmoke;
  opacity: 0.7;
}

.page:hover .espace_page {
  transform: translate(1%);
  padding-left: 2%;
  color: whitesmoke;
  transition: ease 0.5s;
  opacity: 1;
}

.page:hover .titre {
  font-weight: 900;
}


.page::-webkit-scrollbar {
  width: 15px;
  border: 1px solid transparent;
  background-color: transparent;
}

.page::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

.page::-webkit-scrollbar-corner {
  background: transparent;
  border: none;
}

/* Personnalise le bloc de défilement (thumb) */
.page::-webkit-scrollbar-thumb {
  background-color: #737576; /* Couleur du bloc de défilement */
  border: none; /* Assure qu'il n'y ait pas de contour */
  border-radius: 20px;
}

.spawn {
  position: relative;
  font-weight: bolder;
  text-shadow: -4px 4px rgb(0, 0, 0);
  padding: 1%;
  color: rgb(255, 255, 255);
  border: 5px solid rgba(221, 225, 230, 0.9);
  font-size: 52px;
  width: fit-content;
  margin: 0% 5% 15% 5%;
  background-color: #343a34;
}

.titre {
  font-size: 2.5rem;
}

.espace_page .link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.4s ease;
}

.espace_page .link:hover {
  color: rgb(224, 12, 12);
  text-decoration: underline;
  transform: scale(104%);
}



.hidden-text {
  visibility: hidden;
  color: #343a34;
}

.hidden-text strong {
  color: black;
}

.show-on-hover {
  background-color: #87a0ac4b;
  width: 90%;
}
.show-on-hover:hover {
  background-color: transparent;
}

.show-on-hover:hover .hidden-text {
  visibility: visible;
}
