RewriteEngine On
RewriteBase /portfolio/prj-fitness/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /portfolio/prj-fitness/index.html [L]
